@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-family-sans: var(--font-geist-sans);
  --font-family-mono: var(--font-geist-mono);
}

@keyframes expandCircle {
  0% {
    clip-path: circle(0% at var(--x) var(--y));
  }
  100% {
    clip-path: circle(150% at var(--x) var(--y));
  }
}

@keyframes shrinkCircle {
  0% {
    clip-path: circle(150%);
  }
  100% {
    clip-path: circle(0%);
  }
}
